{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}

{% block body %}
<h1 class="third-color">index</h1>
<img src="{{ asset('build/images/crying_unicorn.png') }}" alt=""/>
{% endblock %}